.searchImput{
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: darkgray;
    height: 2em;
}
.searchButton{
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    background-color: darkgray;
    height: 2em;
}