.searchImput{
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: darkgray;
    height: 2em;
}
/*.searchButton{
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    background-color: darkgray;
    height: 2em;
}*/
.searchButton {
    /* Estilos para el botón onSearch */
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .randomButton {
    /* Estilos para el botón onRandom */
    background-color: #dc3545;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  